sql_saga.o
sql_saga.so
completely_covers.o
completely_covers.bc
covers_without_gaps.o
covers_without_gaps.bc
periods.o
periods.bc
sql_saga.bc
sql_saga.dylib
sql_saga--*.sql
regression.diffs
regression.out
results/
.*.swp
.aider*
!.aider.conf.yml
!.aiderignore
compile_commands.json
/.cache